@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<section class="contact">
    <header>
        <h3>Phone</h3>
    </header>
    <p>
        <span class="label">Main:</span>
        <span>716-536-3888</span>
    </p>
    <p>
        <span class="label">After Hours:</span>
        <span>716.536.3888</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
       
        <span><a href="mailto:Support@example.com">nagajyothi.gunti@gmail.com</a></span>
    </p>

</section>

<section class="contact">
    <header>
        <h3>Address</h3>
    </header>
    <p>
        672 Fulton Street<br />
        Farmingdale, NY 11735
    </p>
</section>